.header {
    text-align: center;
}

.top {
    vertical-align: top;
}

.button {
    vertical-align: top;
    

}

.grid-container {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.selectBox {
    width: 80%;
}

body {background-color: beige;}
